.vscode/settings.json
.DS_Store
__pycache__/
src/app_corporate_culture_measurer/data/processed
src/app_corporate_culture_measurer/data/processed_backup
src/app_corporate_culture_measurer/data/input_for_test/
models/
outputs/
*.props

stanford-corenlp-full-2018-10-05